
//宣告layout
extends ../_layout
//在此設定必需要在，頁面載入前引用的javascript(不含共用)
block headScripts
	//script(src="js/test.bundle.js")

block styles
	//在此設定必需要在此頁引用的樣式(不含共用)
	//link(rel="stylesheet", href="/css/test.css")

block content
	h1 This is Demo

block scripts
	//在此設定必需要在，頁面載入後引用的javascript(不含共用)
	//script(src="js/demo.bundle.js")