$basic-space: 8px;
$main-color: #DA1725;
$main-bg-color: #F6F6F6;
$main-text-color: #000000;
// Select
$form-select-primary-color: #999999;
$form-select-secondary-color: #F6F6F6;
$form-select-secondary-font-color: #999999;
$form-select-height: 32px;
$form-select-strong-color: #3D3D3D;
$form-select-readonly-color: #FFFFFF;
$form-select-strong-height: 40px;
$form-border-radius: 4px;
$form-select-border-color: #CCCCCC;
$form-select-option-disabled-color: #CCCCCC;