head
    title example
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")

    block styles
    script(src="./js/common.bundle.js")
    block headScripts
