.collection {
  margin-left: -8px;
  margin-right: -8px; }
  .collection ul {
    margin: 0;
    padding: 0; }
  .collection li {
    list-style-type: none; }
  .collection .collection-item {
    border-bottom: 1px solid #F6F6F6;
    padding: 8px;
    overflow: auto; }
    .collection .collection-item:first-of-type {
      border-top: 1px solid #F6F6F6; }
    .collection .collection-item:last-of-type {
      border-bottom: 0; }
    .collection .collection-item .item-value {
      color: #999;
      float: right; }
      .collection .collection-item .item-value.item-value-primary {
        color: #000000; }
    .collection .collection-item .select-style {
      margin-top: 4px;
      margin-left: 22px; }
    .collection .collection-item .select-style-opacity {
      margin: 0; }
  .collection .collection-item-text {
    background: #F6F6F6;
    font-size: 12px;
    color: #999;
    padding: 8px; }
  .collection .collection-item-strong {
    font-size: 20px; }
  .collection .collection-item-primary {
    color: #DA1725; }
  .collection .collection-item-secondary {
    color: #999; }
  .collection .item-value .p-price-text {
    padding-right: 4px; }
  .collection .radio-style:not(:checked) ~ .select-style {
    color: #CCCCCC; }
    .collection .radio-style:not(:checked) ~ .select-style .select-style-mask {
      border-color: #CCCCCC; }
    .collection .radio-style:not(:checked) ~ .select-style .has-value {
      color: #999999; }
    .collection .radio-style:not(:checked) ~ .select-style :after {
      background-color: #CCCCCC; }
    .collection .radio-style:not(:checked) ~ .select-style select {
      display: none; }
  .collection.collection-shipment {
    padding: 8px; }
    .collection.collection-shipment .item-value {
      line-height: 32px; }
    .collection.collection-shipment .select-style {
      display: inline-block;
      width: 50%;
      vertical-align: middle; }

.collection-selector, .collection-selector-secondary {
  margin-top: -10px;
  margin-left: -24px;
  margin-right: -24px; }
  .collection-selector ul, .collection-selector-secondary ul {
    list-style-type: none;
    padding: 0;
    border-top: 1px solid #ECECEC;
    display: block; }
    .collection-selector ul li, .collection-selector-secondary ul li {
      border-bottom: 1px solid #ECECEC;
      font-size: 14px;
      display: table;
      word-break: break-all;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      position: relative;
      padding: 8px; }
      .collection-selector ul li .item-tag, .collection-selector-secondary ul li .item-tag {
        display: table-cell;
        width: 61px;
        position: relative; }
        .collection-selector ul li .item-tag .item-tag-name, .collection-selector-secondary ul li .item-tag .item-tag-name {
          background-color: #DA1725;
          color: #FFFFFF;
          padding: 2px 0;
          width: 100%;
          text-align: center;
          position: absolute;
          top: 10px;
          left: 8px; }
      .collection-selector ul li .item-body, .collection-selector-secondary ul li .item-body {
        margin: 8px;
        margin-left: 20px;
        width: 80%; }
        .collection-selector ul li .item-body .item-expired-date, .collection-selector-secondary ul li .item-body .item-expired-date {
          font-size: 12px;
          color: #999999;
          margin-top: 2px; }
      .collection-selector ul li.selected, .collection-selector-secondary ul li.selected {
        color: #DA1725;
        background-color: #FFFFFF; }
      .collection-selector ul li.disabled, .collection-selector-secondary ul li.disabled {
        color: #999999; }
        .collection-selector ul li.disabled .item-tag-name, .collection-selector-secondary ul li.disabled .item-tag-name {
          background-color: #999999; }

.collection-selector-secondary {
  margin-top: 0;
  margin-left: -4px;
  margin-right: 0; }
  .collection-selector-secondary ul {
    margin: 0;
    border-top: 0; }
    .collection-selector-secondary ul li {
      border-top: 5px solid #FFFFFF; }
  .collection-selector-secondary .item-body .name {
    width: 80%; }
  .collection-selector-secondary .item-value {
    position: absolute;
    right: 0;
    top: 16px;
    font-size: 14px;
    width: 67px;
    border-left: 1px solid #EDEDED;
    padding-left: 8px; }
    .collection-selector-secondary .item-value .item-value-primary {
      color: #DA1725;
      font-size: 16px;
      margin-top: 4px; }

.focus-price-color .p-price-text, .collection .collection-item .item-value.total-discount-price .p-price-text, .collection .radio-style:checked ~ .item-value .p-price-text {
  color: #000000; }

.dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2100;
  outline: 0;
  -webkit-transition: all cubic-bezier(0.02, 0.01, 0.47, 1) 0.2s 0s;
  transition: all cubic-bezier(0.02, 0.01, 0.47, 1) 0.2s 0s;
  -webkit-transition-property: top bottom;
  transition-property: top bottom; }
  .dialog .dialog-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: background-color cubic-bezier(0.02, 0.01, 0.47, 1) 0.2s 0.2s;
    transition: background-color cubic-bezier(0.02, 0.01, 0.47, 1) 0.2s 0.2s; }
  .dialog .dialog-box {
    background-color: #F6F6F6;
    position: absolute;
    top: 35%;
    left: 7%;
    right: 7%;
    border-radius: 4px; }
    .dialog .dialog-box .dialog-container > header {
      margin: 0 24px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      height: 40px;
      line-height: 38px; }
  .dialog .dialog-box-body {
    padding: 10px 24px;
    max-height: 150px;
    overflow: auto;
    -webkit-transition: opacity cubic-bezier(0.02, 0.01, 0.47, 1) 0.2s 0s;
    transition: opacity cubic-bezier(0.02, 0.01, 0.47, 1) 0.2s 0s; }
  .dialog .dialog-box-body-padding {
    padding: 24px 24px; }
  .dialog .dialog-box-footer {
    border-top: 1px solid #ECECEC;
    background-color: #FFFFFF;
    height: 40px;
    border-radius: 0 0 4px 4px; }
  .dialog .dialog-strong {
    color: #DA1725;
    font-weight: bold; }
  .dialog .dialog-list {
    top: 15%;
    bottom: 15%; }
    .dialog .dialog-list .dialog-container {
      position: relative;
      width: 100%;
      height: 100%; }
      .dialog .dialog-list .dialog-container > * {
        position: absolute;
        left: 0;
        right: 0; }
      .dialog .dialog-list .dialog-container > header {
        top: 0; }
      .dialog .dialog-list .dialog-container > .dialog-box-body {
        top: 40px;
        bottom: 40px;
        max-height: initial; }
      .dialog .dialog-list .dialog-container > .dialog-box-footer {
        bottom: 0; }
  .dialog .dialog-scene {
    top: 46px;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0; }
    .dialog .dialog-scene .dialog-container {
      position: relative;
      width: 100%;
      height: 100%;
      background: #FFFFFF; }
      .dialog .dialog-scene .dialog-container > * {
        position: absolute;
        left: 0;
        right: 0; }
      .dialog .dialog-scene .dialog-container > header {
        background: #999999;
        color: #FFFFFF;
        font-size: 12px;
        height: 24px;
        line-height: 24px;
        font-weight: normal;
        margin: 0;
        top: 0; }
      .dialog .dialog-scene .dialog-container .dialog-box-body {
        top: 40px;
        bottom: 60px;
        max-height: initial; }
      .dialog .dialog-scene .dialog-container > .dialog-box-footer {
        bottom: 0; }
    .dialog .dialog-scene .dialog-box-footer {
      min-height: 40px;
      padding: 16px 8px; }
      .dialog .dialog-scene .dialog-box-footer .btn {
        margin: 0; }
  .dialog .table-box header {
    color: #DA1725;
    font-size: 12px;
    line-height: 0;
    padding-top: 15px;
    margin-bottom: 15px; }
  .dialog .table-box ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    border-top: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC; }
    .dialog .table-box ul li {
      margin: 0;
      padding: 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      float: left;
      width: 33.33333%;
      display: block;
      border-bottom: 1px solid #ECECEC;
      border-right: 1px solid #ECECEC; }
  .dialog .dialog-button-inline {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    float: left;
    line-height: 39px;
    width: 50%;
    color: #3D3D3D; }
  .dialog .dialog-button-inline-primary {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    float: left;
    line-height: 39px;
    width: 50%;
    color: #DA1725; }
  .dialog .dialog-button-block-primary {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    float: left;
    line-height: 39px;
    width: 100%;
    color: #DA1725; }
  .dialog .dialog-toast-container {
    line-height: 20px;
    text-align: center; }
    .dialog .dialog-toast-container span {
      display: inline-block;
      vertical-align: middle; }
    .dialog .dialog-toast-container .loader-dot {
      margin-left: 8px; }
    .dialog .dialog-toast-container .toast-prefix-photo {
      width: 42px;
      margin-right: 8px;
      vertical-align: middle; }
    .dialog .dialog-toast-container .toast-suffix-text {
      text-align: left;
      display: inline-block;
      vertical-align: middle; }

#GlobalContainer.dialog-animating ~ #Dialog .dialog {
  top: 100%;
  bottom: -100%;
  -webkit-transition: all cubic-bezier(0.02, 0.01, 0.47, 1) 0.2s 0s;
  transition: all cubic-bezier(0.02, 0.01, 0.47, 1) 0.2s 0s;
  -webkit-transition-property: top bottom;
  transition-property: top bottom; }
  #GlobalContainer.dialog-animating ~ #Dialog .dialog .dialog-backdrop {
    background-color: transparent;
    -webkit-transition: background-color cubic-bezier(0.02, 0.01, 0.47, 1) 0.2s 0.2s;
    transition: background-color cubic-bezier(0.02, 0.01, 0.47, 1) 0.2s 0.2s; }

@media screen and (min-width: 375px) {
  .dialog .dialog-box {
    margin: 0 auto;
    width: 300px; }
    .dialog .dialog-box.dialog-scene {
      width: 100%; } }
