
extends ../layout

//- block headScripts
	//在head引用腳本
//- block styles
	//在head引用樣式

block content
	div.login#app
		div.row
			div.col-md-6.col-offset-md-3

block scripts
	//在body結尾引用腳本
	script(src="js/todo.bundle.js")